/* VARIABLES */
     /* */
     $fuente_principal: 'Raleway', sans-serif;
     /* COLORES */
     $principal: #33C3F0;
     $secundario: #741d51;
     $terciario: #e44e52;
     $gris: #e1e1e1;
     $blanco: #ffffff;
     $negro: #000000;

// Variables MediaQueries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$tv: 1280px;