/* VARIABLES */
     /* */
     $fuente_principal: 'Raleway', sans-serif;
     /* COLORES */
     $principal: #33C3F0;
     $secundario: #741d51;
     $terciario: #e44e52;
     $gris: #e1e1e1;
     $blanco: #ffffff;